
// COLOR THEME
  $text:  #444444; // rgb(68, 68, 68);
  $black: #282c34;
  $white: #ffffff;
  $green: #53864A; // #69af33; // #006932
  $purple: rgba(85, 26, 139, 0.5); //#820263;
  $blue: #234099; // #203453
  $lightGrey: #BEBABE; //rgba(44,48,66,0.3);
  $mediumGrey: #3A4254;
 $lightBlue: #AFD0BF;

  // FONTS
  $header: Cuprum, sans-serif;
  $text: Rubik, sans-serif;
