@import "./utils/_theme";

.About-container {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: inherit;
  height: 100%;
  background-color: $lightGrey;
  .header {
    padding-bottom: 2%;
    font-family: $header;
    color: $white;
    font-size: 1rem;
    margin-top: 2%;
  }
  .MuiGridListTile-tile {
    img {
      filter: grayscale(0);
      &:hover {
        filter : grayscale(100%);
      }
    }
    &:hover {
      transition: filter .5s ease-in-out;
    }
  }
}
