@import "./utils/theme";
.App {
  text-align: center;
  background-color: $black;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.Quote {
  font-family: 'Pacifico', cursive;
  font-size: calc(12px + 2vmin);
  color: #69af33;
  font-weight: lighter;
  padding: 4rem 15rem 0 13rem;
}

.Quote-author {
  font-size: calc(8px + 1vmin);
  padding-left: 15rem;
  color: rgb(68,68,68);
  font-family: $text;
}
