@import './utils/_mixins';

  .Header-list {
    background-color: transparent;
    min-height: 100vh;
    z-index: 99;
    &.open {
      border-top: 100px solid #69af33;
      border-bottom: 40px solid #69af33;
      border-left: 40px solid #69af33;
      border-right: 40px solid #69af33;
    }
    &.close {
      border: none;
      display: none;
    }

    .Header-link {
      color: black;
      list-style: none;
      list-style-type: none;
      text-decoration: none;
      &.close {
        display: none;
      }
    .slide-up {
      display: block;
      animation: slide-up 1s ease;
      &:focus {
        color: rgba(85, 26, 139, 0.5);
        font-weight: bold;
        text-decoration: underline;
      }
    }
    @include slide-up;
    }
  }
