.Home-container {
  z-index: 1;
  padding-left: '5%';
  padding-right: '5%';
  height: inherit;
  position: fixed;
  top: 70px;
  left:0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  #background-video {
    position: fixed;
    top: 70px;
    left: 0;
  }
}
