@import "./utils/_mobile";

.Home-container {
  z-index: 1;
  height: inherit;
  position: fixed;
  top: 70px;
  left:0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  #background-video {
    position: fixed;
    top: 70px;
    left: 0;
  }
  .swipe {
    justify-content: center;
    align-self: center;
    width: 70%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    @include phone {
      padding: 0;
      // width: 50%;
    }
  }
  // @include tablet {
  //   font-size: 18px;
  // }
  //
  // @include desktop {
  //   font-size: 20px;
  // }

}
