@import "./utils/_theme";

.Portfolio-container {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 70px;
  background-color: $lightGrey;
  width: inherit;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3%;
  .header {
    color: $white;
    font-family: $header;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .cards {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: height .5s ease;
    .link {
      align-self: center;
      text-align: center;
      color: $text !important;
      font-family: $text;
    }
  }
}
