@import "./utils/_theme";
@import "./utils/_mobile";

.Portfolio-container {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 70px;
  background-color: $lightGrey;
  width: inherit;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;

  .header {
    color: $white;
    font-family: $header;
    font-size: calc(12px + 2vmin);
    line-height: calc(12px + 3vmin);
  }
  .cards {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: height .5s ease;
    @include phone {
      flex-direction: column;
      justify-content: space-around;
      align-content: space-between;
      margin-bottom: 1rem;
      &.open {
        display: none;
      }
    };
    .link {
      align-self: center;
      text-align: center;
      color: $text !important;
      font-family: $text;
    }
  }
  .back {
    position: sticky;
    bottom: 0;
    order: 3;
    height: 30px;
    width: 100%;
    margin: 10px;
  }
}
