@import "./utils/_theme";

.Quote {
  font-family: $header;
  font-size: calc(12px + 3vmin);
  color: $white;
}

.Quote-author {
  font-size: calc(8px + 1vmin);
  color: $white;
  font-family: $text;
}
